* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  height: 10000px;
  margin: 0;
}

nav {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: bisque;
}

nav > a {
  text-decoration: none;
  margin: 30px;
  border-top: 2px solid black;
  padding: 5px;
  color: black;
  float: right;
  border-left: 4px solid transparent;
}

a:hover {
  border-left: 4px solid black;
}

main {
  text-align: center;
  margin-top: 100px;
}

#profile-box {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 50px auto 100px auto;
}

#skills {
  margin-bottom: 80px;
  padding-top: 70px;
}

#profile {
  margin: 0;
  padding-top: 70px;
}

#contact {
  padding-top: 70px;
}

.skills-bar {
  height: 35px;
  width: auto;
  margin: 5px 10px;
  border: 4px solid rgba(128, 128, 128, 0.61);
}

div > img {
  width: 200px;
  height: auto;
  margin: 10px auto;
  display: block;
}

.opc {
  margin-top: 10px;
  display: block;
}

.mail {
  opacity: 0;
  margin-top: 10px;
  display: block;
  position: relative;
  top: -52px;
}

#profile-box:hover .opc {
  opacity: 0;
  transition-duration: 1s;
}

#profile-box:hover .mail {
  opacity: 1;
  transition-duration: 1s;
}

#bar1 {
  height: 27px;
  width: 15%;
  margin: 0;
  border-style: none;
  background-color: orange;
}

#bar2 {
  height: 27px;
  width: 10%;
  margin: 0;
  border-style: none;
  background-color: rgb(0, 119, 255);
}

#bar3 {
  height: 27px;
  width: 2%;
  margin: 0;
  border-style: none;
  background-color: rgb(251, 255, 0);
}

span {
  display: none;
  margin: 0;
}

.label {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
}

.label:hover {
  opacity: 1;
  transition-duration: 1s;
}

/* Kontaktformular */

#container {
  text-align: center;
}

#contact-box {
  display: inline-block;
}

.feedback-input {
  display: block;
  margin: 15px;
  height: 30px;
  text-align: center;
  background-color: rgb(250, 202, 143);
  border-radius: 15px;
  border: 3px solid rgba(128, 128, 128, 0.774);
}

#comment {
  display: inline-block;
}

.feedback-comment {
  margin: 15px;
  min-height: 150px;
  max-height: 150px;
  min-width: 280px;
  max-width: 1600px;
  text-align: center;
  background-color: rgb(250, 202, 143);
  border-radius: 15px;
  border: 3px solid rgba(128, 128, 128, 0.774);
}

#button {
  height: 30px;
  width: 160px;
  text-align: center;
  background-color: rgb(231, 99, 99);
  border-radius: 5px;
  border: 3px solid rgba(128, 128, 128, 0.774);
  color: white;
}

#button:hover {
  background-color: red;
  font-weight: bold;
}

/* Fotobox */

#pictures {
  padding-top: 70px;
}

#pic-box {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  background-color: #2196f3;
  padding: 5px;
  margin: 50px;
}

#pic-box > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.asdf {
  grid-area: 1 / 1 / span 2 / span 3;
}

#pic-box > div > img {
  height: 200px;
  width: auto;
}
