* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  color: #00003f;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 5px solid #00003f;
}

nav #links a {
  text-decoration: none;
  margin-right: 30px;
  color: #00003f;
  font-size: 1.7em;
}

nav #links a:hover {
  border-bottom: 6px solid rgb(255, 208, 0);
  border-radius: 6px;
}

div > a > img {
  width: 300px;
}

main > section {
  display: flex;
  background-color: #d6dce6;
  height: 70vh;
  align-items: center;
}

.container {
  flex-grow: 1;
  padding: 50px;
}

#watch-header {
  width: 30%;
  flex-shrink: 0;
  object-fit: cover;
  height: 100%;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
