@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: lightgrey;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  width: 80vw;
  margin: 0px auto;
}

.box {
  padding: 30px 50px;
  border: 2px solid grey;
  margin-bottom: 50px;
}

.input-box {
  min-height: 30px;
  min-width: 100%;
  border: 1px solid lightslategray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightslategrey;
  margin: 10px 0 30px 0;
}

.btn {
  padding: 10px 15px;
  border: 0;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
}
