nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 5px solid #00003f;
}

div a img {
  width: 300px;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  div a img {
    display: block;
  }
}
