body {
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(255, 215, 142);
  font-size: 16px;
}

img {
  margin-top: -90px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 5px solid orange;
}

span {
  color: orange;
}

.haupt {
  width: 800px;
  height: 1200px;
  background-color: beige;
  margin-top: 100px;
  border: 5px solid orange;
  border-radius: 1%;
  text-align: center;
}

div {
  width: 700px;
  height: 800px;
  background-color: orange;
  margin: 30px auto;
  border-radius: 2%;
  text-align: left;
  padding: 10px;
}

li {
  padding: 10px 0;
  list-style: none;
}

.important {
  color: green;
  list-style: square;
}
