@font-face {
  font-family: "PaperCute";
  src: url("../src/fonts/PaperCute-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ThirstyRough";
  src: url("../src/fonts/ThirstyRough.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
}
