* {
  box-sizing: border-box0;
}

body {
  margin: 0;
}

.parent {
  width: 100vh;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.274);
  transition: all 1s;
}

.child {
  width: 50vh;
  height: 50vh;
  background-color: rgba(255, 0, 0, 0.226);
  display: grid;
  place-items: center;
  font-size: 3rem;
  position: relative;
  transition: all 1s;
}

.parent:hover > .child {
  transform: translate(50vh, 50vh);
  background-color: red;
}

.parent:hover {
  background-color: grey;
}
