.expense-date {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

h5,
p,
h2 {
  margin: 0;
}
